In [ ]:
# Grid
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import GridSearchCV

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/aridata/diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
X_train = df.drop(['Outcome'], axis=1)
y_train = df.Outcome

In [ ]:
parametrs = {'n_estimators': range(10, 51, 10),
             'max_depth': range(1, 13, 2),
             'min_samples_leaf': range(1, 8),
             'min_samples_split': range(2, 10, 2)}

In [ ]:
clf = RandomForestClassifier()
grid = GridSearchCV(clf, parametrs, cv=5)

grid.fit(X_train, y_train)
print(grid.best_params_)

{'max_depth': 11, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 20}

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
rand = RandomizedSearchCV(clf, parametrs, cv=5)

rand.fit(X_train, y_train)
print(rand.best_params_)

{'n_estimators': 40, 'min_samples_split': 4, 'min_samples_leaf': 3, 'max_depth': 7}

# Вывод

Были изучены практические примеры использования GridSearch, RandomizedSearch на примере тестовых данных